adtk==0.6.2                    
catboost==0.24.4                  
dalex==1.0.0                   
ipython==7.19.0            
ipywidgets==7.6.2                    
matplotlib-base==3.3.3            
notebook==6.1.6                   
numpy==1.19.4           
optuna==2.5.0                    
pampy==0.3.0                    
pandas==1.1.5            
patsy==0.5.1                                   
python-dateutil==2.8.1                      
scikit-learn==0.24.0                   
scipy==1.5.3                            
statsmodels==0.12.1                   
stumpy==1.8.0                    
tslearn==0.5.0.5                  

